@import '../node_modules/bootstrap/scss/bootstrap.scss';
body {
    background: #000000b3;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
li {
    list-style-type: none;
}